#portfolio {
    grid-column: 2 / span 12;
    text-align: center;
    line-height: .5em;
}

h1 {
    text-align: center;
}

#fourtyTwoThird {
    max-width: 200px;
    max-height: 200px;
    border: solid black 2px;
}

