#about {
    grid-column: 3 / span 10;
    text-align: center;

}

#team {
    margin: 0%;
}

#skyline {
    width: 90%;
    padding: 2.5%;
    margin: 0 5% 0 5%;
}

#intro {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 5%;
}

.aboutUS {
    text-align: center;
}
