main.about {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / -2;
}

#team {
    grid-column: 1 / -1;
    justify-self: center;
}

#skyline {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 65%;
}

.titleAPV {
    grid-column: 1 / -1;
    justify-self: center;
}

#intro {
    font-size: 1em;
    font-style: italic;
    grid-column: 2 / -2;
    justify-self: center;

}

.aboutV {
    grid-column: 3 / 5;

}

.aboutG {
    grid-column: 1 / 3;
}

.background {
    padding: 0 10%;
}

#pageImages {
    max-width: 240px;
}

@media only screen and (min-width: 318px) and (max-width: 905px) {
    .aboutV,
    .aboutG {
        grid-column: 1 / -1;
        padding: 5px 0;
    }
    
    #intro {
        font-size: .8em;
        grid-column: 1 / -1;
        padding: 0 1em;
    }
}

@media only screen and (min-width: 318px) and (max-width: 768px) {
    #skyline {
        display: none;
    }
}