nav {
    background-color: rgb(215, 215, 215);
    padding: 0 5% 0 0;
}

.nav-wrapper {
    grid-area: nav;
}

#navL {
    font-size: 1.25em;
    color: forestgreen;
}

#logo {
    transform: translateY(-30%);
    max-height: 250px;
}

#hamburger {
    font-size: 2.5em;
    color: forestgreen;
}

#nav-mobile {
    transform: translateY(35%);
    color: #608832;
}

.sidenav {
    opacity: 0.5;
}

.sidenav li>a {
    font-size: 1.5em;
    text-shadow: 3px 3px 10px #107C10;
}

img#sNavLogo.responsive-img {
    margin-top: 1.5%;
    margin-left: -5%;
}

@media only screen and (min-width: 768px) {
    nav {
        height: 100px;
    }
  }

@media only screen and (min-width: 360px) and (max-width: 767px) {
    nav {
        height: 75px;
    }

    #hamburger {
        font-size: 2em;
    }
}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
    nav {
        height: 100px;
    }
}