nav {
    background-color: rgb(215, 215, 215);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100px ;
}

#navL {
    font-size: 1em;
    color: #608832;
}

#logo {
    max-width: 240px;
    transform: translateY(-13.5%);
}

.sidenav-trigger {
    display: none;
}

#nav-mobile {
    color: #608832;
    grid-column: 9 / span 4;
    transform: translateY(7.5%);
}

.sidenav {
    opacity: 0.5;
}

.sidenav li>a {
    font-size: 1.5em;
    text-shadow: 3px 3px 10px #107C10;
}


@media only screen and (max-width: 1160px) {
    #nav-mobile {
        font-size: 1em;
        grid-column: 6 / span 7;
        justify-self: end;
    }

    #logo {
        justify-self: start;
    }
} 

@media only screen and (min-width: 318px) and (max-width: 905px) {

    .sidenav-trigger {
        display: inline;
        font-size: 2em;
        color: #608832;
        align-self: start;
        grid-row: 1 / -1;
        grid-column: 1 / 2;
    }

    #hamburger {
        font-size: 1em;
    }

    #nav-mobile {
        display: none;
    }

    a#logo {
        justify-self: center;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

/* @media only screen 
and (min-device-width : 360px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
    nav {
        height: 100px;
    }
} */