html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  color: forestgreen;
  font-size: 18px;
}

#root {
    min-height: 100%;
    display: grid;
    grid-template:  "nav nav nav nav"
                    "main main main main"
                    "main main main main"
                    "footer footer footer footer";
}

footer {
    grid-area: footer;
    margin-top: auto;
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}