html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: #608832;
  font-size: 18px;
}

#root {
    min-height: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr repeat(12, minMax(1fr, 60px) 1fr);
    grid-gap: 40px;
}

footer {
    margin-top: auto;
    grid-column: 1 / span 15;
}

header {
    width: 100%;
    grid-column: 1 / span 15;
}

@media screen and (min-width: 318px) { 

  #root {
   display: initial;
   height: 100vh;
   width: 100vw;
   font-size: 18px;
  }

  h1 { 
    font-size: 1.80em;
    margin: 1.5% 0;
  }

}