html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  color: forestgreen;
  font-size: 18px;
}

#root {
    min-height: 100%;
    display: grid;
    grid-template:  "nav nav nav nav"
                    "about about about about"
                    "criteria criteria portfolio portfolio"
                    "criteria criteria portfolio portfolio"
                    "contact contact contact contact"
                    "alexV alexV alexG alexG"
                    "footer footer footer footer";
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    grid-area: footer;
    margin-top: auto;
}

header {
    grid-area: nav;
}


@media screen and (max-width: 780px) {
  #root {

    grid-template:  "nav nav nav nav"
                    "about about about about"
                    "criteria criteria criteria criteria "
                    "portfolio portfolio portfolio portfolio"
                    "contact contact contact contact"
                    "alexV alexV alexV alexV"
                    "alexG alexG 'alexG alexG"
                    "footer footer footer footer";
}
}