
footer {
    background-color:rgb(215, 215, 215);
    border-top: 2px solid rgb(190, 188, 188);
    padding: 0;
    margin: 0;
    color: #608832;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.copyright {
    font-size: .75em;
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    align-self: end;
}

#smIcon {
    max-width: 2em;
    color: #608832;
    margin: 1em;
}

.iconLeft {
    grid-column: 2/-2;
    grid-row: 1/-1;
    justify-self: start;
}

.iconRight {
    grid-column: 2/-2;
    grid-row: 1/-1;
    justify-self: end;
}


@media only screen and (min-width: 318px) and (max-width: 680px) {

    footer {
        grid-template-rows: 2fr 1fr;
    }
    .iconLeft {
        grid-column: 1/7;
        justify-self: end;
        transform: translateX(-10%);
    }
    
    .iconRight {
        grid-column: 7/-1;
        justify-self: start;
        transform: translateX(10);
    }

    .copyright {
        align-self: end;
        grid-row: 2;

    }
}

