#smIcon {
    max-width: 2em;
    color: forestgreen;
    margin: 1em;
}

.page-footer {
    background-color:rgb(215, 215, 215);
    border-top: 3px solid rgb(199, 198, 198);
    padding: 0;
    color: forestgreen;
}

.copyright {
    padding: 0 0 1em 0;
    font-size: .75em;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .icons {
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .icons {
        margin-right: 10%;
    }
  }