.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    width: 300px;
    margin: 20px auto;
}

.cardContainer:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
}

#cardImage {
    width: 250px;
    height: 200px;
    justify-content: center;
    border-radius: 5px;
}