
#criteria {
    grid-column: 2 / span 12;
    line-height: .5em;
}

#acquisition {
    font-size: 1.5em;
    text-align: center;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 1030px) and (min-width: 320px) {
    #acquisition {
        font-size: 1em;
    }
}

