#contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column: 1 / -1;
    justify-content: center;
    grid-auto-flow: row;
}

form {
    padding: 2em;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: end;
}

#vCardTitle {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: center;
}