.contactCard {
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 250px;
    min-height: 170px;
    border: 2px solid black;
    padding: 5px;
}

div.der.contactCard {
    grid-column: 3 / 6;
}

div.dre.contactCard {
    grid-column: 8 / 11;
}

.personalContactInfo {
    font-size: .8em;
    display: flex;
    justify-content: space-around;
    transform: translateY(170%);
}

a {
    color: #608832;
}

.names {
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
}
