.contactCard {
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 300px;
    min-height: 180px;
    border: 1px solid #608832;
    padding: 5px;
    justify-self: center;
    border-radius: 5px;
}

.contactCard:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.personalContactInfo {
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    transform: translateY(190%);
    padding: 0 10px;
    margin: 0 5%;
}

a {
    color: #608832;
}

.names {
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
}


.der {
    grid-area: vv;
    margin: 10px 0;
}

.dre {
    grid-area: vg;
    margin: 10px 0;
}