.contactCard {
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 250px;
    min-height: 160px;
    text-align: center;
    border: 2px solid black;
}

div.der.contactCard {
    grid-column: 3 / 6;
}

div.dre.contactCard {
    grid-column: 8 / 11;
}

.personalContactInfo {
    transform: translateY(100%);
    margin: 0;
}

.names {
    margin: 5px auto;
}
